/* Order */
@layer reset, primeng;

/* Reset CSS */
@layer reset {
    .p-button {
        border-radius: 10px !important;
        padding: 6px 16px !important;
        .p-button-label {
            font-weight: 500 !important;
        }
    }

    .p-dropdown-items {
        padding-left: 0px !important;
    }

    ul.p-dropdown-items {
        margin: 0px !important;
    }

    input {
        padding: 6px 8px !important;
        border-radius: 0px !important;
        width: 100% !important;
    }

    .p-dropdown {
        width: 100% !important;
        border-radius: 0px !important;

        .p-dropdown-label {
            text-align: left !important;
            padding: 6px 8px !important;
        }
    }
}