<p-table [columns]="cols" [value]="tableData"  styleClass="p-datatable-striped" >
    <ng-template pTemplate="header" let-columns>
        <tr>
            @for(col of columns; track col){
                <th >
                    {{ col.header }}
                </th>
            }
            <th class="text-end">
                <p-button label="Reyon Ekle" icon="pi pi-plus" (click)="showDialog();" [outlined]="true" />
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr class="border-bottom">
            @for(col of columns; track col ; let i = $index ){
                @switch (col.field) {
                    @case ('rayon') {
                      <td class="border-end"> {{ rowData[col.field] }} <i class="fa-solid fa-trash-can text-danger ms-3 cursor-pointer" (click)="deleteRayon(rowData,$event)"></i> </td>
                    }
                    @case ('products'){
                        @if(rowData.products){
                            <td class="border-end">
                                @for(item of rowData.products; track item){
                                    <label class="badge text-bg-primary me-1 cursor-pointer" (click)="showProduct(rowData)"> {{item.name}} </label>
                                }
                                
                            </td>
                        }
                        @else{
                            <td> Ürün Bulunamadı.</td>
                        }
                    }
                    @default {
                        <td [ngClass]="{'border-end':!$last }">
                            {{ rowData[col.field] }}
                        </td>
                    }
                  }
                @if($last){
                    <td class="text-end">
                        <p-button label="Ürün Ekle" icon="pi pi-plus" (click)="showProduct(rowData)" severity="success" />
                    </td>
                }
            }
        </tr>
    </ng-template>
</p-table>
<p-confirmPopup />
